extends layout

block content
  h1= title

  div(class="container-fluid")
        div(class="row")
            -
                let trains = results
            each train in trains
                div(class="col-sm-2") #{train.type}
                div(class="col-sm-2") #{train.compartments}
                div(class="col-sm-2") #{train.destination}