body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightseagreen;
  
}

a {
  color: #00B7FF;
}

.trainAttr {
  background-color: lightcyan;
  width: 120px;
  color: blue;
}
h1{
  background-color: lightsalmon;
  text-align: center;
}
.row{
  background-color: lightgreen;
  
}
